	<div class="container-field">
	  <div class= "row">
		<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
		   <div class="carousel-inner">
			    <div class="carousel-item active" data-interval="3000">
			    	<div class="logo">
			    	<h3>Cafenavi</h3><br>
			    	<h1>KOMINKA</h1>
			    	</div>
			      <%= image_tag("photo1.jpg",:size =>'1320x550') %>
			    </div>
			    <div class="carousel-item" data-interval="3000">
			    	<div class="logo">
			    	<h3>Cafenavi</h3><br>
			    	<h1>KOMINKA</h1>
			    	</div>
			     <%= image_tag("photo2.jpg", :size =>'1320x550') %>
			    </div>
			    <div class="carousel-item" data-interval="3000">
			    	<div class="logo">
			    	<h3>Cafenavi</h3><br>
			    	<h1>KOMINKA</h1>
			    	</div>
			      <%= image_tag("photo4.jpg", :size =>'1320x550') %>
		    </div>
		  </div>
		</div>
	  </div>
	</div>
