<section class="main-body">
	<div class="photo">
			<p>CafeNavi</p><h2>KOMINKA</h2>
		<div class="main-title">
			<div class="title">
				<div class="button">
				</div>
			</div>
		</div>
	</div>
</section>

