// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forms {
	padding-top: 60px;
}

.form-panel {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 500px;
}

.shop-index {
	margin-top: 100px;
}
