// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 /* shopsのnew・editで使用 */

.forms {
	padding-top: 60px;
}

.form-panel {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 500px;
}

 /* shops_index */

.shop-index {
	margin-top: 80px;
}

.search {
	width: 380px;
	padding: 35px;
	margin: 0 auto;
}

/* shops_index */

.shop-info {
	margin: 0 auto;
	width: 900px;
	height: 900px;
}

.shpp-image {
	margin-top: 200px;
	float: left;
	width: 400px;
	height: 500px;
}

.address {
	padding: 20px 0 20px 32px;
}
.text-column{
	float: left;
	width: 400px;
	margin-top: 150px;
	padding: 50px;
}
.shop-title {
	padding: 20px;
}

.comment{
	margin: 20px;
}